# System
ABAP_DEVELOPMENT_SERVER_HOST=
ABAP_DEVELOPMENT_CLIENT=
ABAP_DEVELOPMENT_LANGU=
# Auth (change it!)
ABAP_DEVELOPMENT_USER=
ABAP_DEVELOPMENT_PASSWORD=
# UI5 settings
ABAP_PACKAGE=
ABAP_APPLICATION_NAME=
ABAP_APPLICATION_DESC=
UI5_RESOURCES_PATH=C:/SAPUI5/1.71.5/resources
# Transport system (check it before deploy)
ABAP_DEVELOPMENT_TRANSPORT=

# Proxy settings
PROXY_AUTH=
PROXY_TARGET=
PROXY_SECURE=
PROXY_CHANGE_ORIGIN=
PROXY_CLIENT=
PROXY_LANGU=